<div class="d-flex flex-column">
  <div class="row p-3">
    <input
      class="form-control"
      [ngClass]="{ 'is-invalid': counterField.invalid || counter < 0 }"
      id="counterField"
      name="counterField"
      type="number"
      [formControl]="counterField"
    />
    <p class="text-danger p-0 m-0"
        *ngIf="counterField.invalid || counter < 0"
    >
      <small>Inserisci un valore positivo</small>
    </p>
  </div>

  <div class="row p-3 d-flex justify-content-between">
    <button
      class="col-5 btn btn-primary"
      (click)="incrementCounter(+counterField.value)"
      [disabled]="!counterField.valid || counterField.value === 0"
    >
      Aggiungi
    </button>
    <button
      class="col-5 btn btn-danger"
      (click)="decrementCounter(+counterField.value)"
      [disabled]="
        !counterField.valid ||
        counter <= 0 ||
        counter - counterField.value < 0 ||
        counterField.value === 0"
    >
      Sottrai
    </button>
  </div>
</div>
